.primary {
    background: var(--primary);
    color: var(--text);
    border: 2px solid var(--primary);
}

.secondary {
    background-color: transparent;
    border: 2px solid var(--text);
}

.logOut {
    margin-top: 2rem;
}