.mainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
 
}

.imgContainer{
  position: absolute;
  z-index: -2;
  height: 100vh;
  width: 100vw;
  background-color:  rgba(20, 87, 99, 0.925);
  display: flex;
  align-items: center;
}


img {
  position: absolute;
  z-index: -2;
  width: 100vw;
 
  
}

.mainContent {
  width: 30vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color:  rgba(20, 87, 99, 0.925);
  color: rgb(214, 250, 255);
  border-radius: 15px;
  
}

.btnContainerMain button{
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  background-color: #fcfcfc;
align-items: center;


}

.btnContainerMain button:hover{
  
  color: rgb(225, 244, 247); 
  background-color: rgb(112, 147, 148);

}

@media (max-width:768px) {
  
 
.mainContent {
  width: 95vw;
  height: 30vh;
 

}
    
    
  
  
  }