.notFoundContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
 
}

.notFoundContent {
  width: 30vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(25, 89, 119, 0.931);
  color: rgb(172,215,223);
  border-radius: 15px;
  
}




.btnContainerNotFound button{
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  background-color: rgb(172,215,223);
align-items: center;


}

.btnContainerNotFound button:hover{
  
  color: rgb(225, 244, 247); 
  background-color:  rgb(119, 161, 168);
   }

@media (max-width:768px) {
  
 
  .notFoundContent {
    width: 95vw;
    height: 30vh;
   
  
  }
      
      
    
    
    }