.signup-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  padding: 5px;
  margin: 6px;
  border: none;
  border-radius: 5px;
  background-color: #f6f2df;
  color: #3f4b41;
  font-family: 'Oswald';
  width: 70px;
}

.signup-input {
  border: none;
  border-radius: 5px;
  background-color: #f6f2df;
  width: 155px;
  height: 25px;
  color: #3f4b41;
  font-family: 'Oswald';
  margin: 7px;
  padding: 3px;
}

h2 {
  color: #f6f2df;
  font-family: 'Oswald';
}