footer {
    border:yellow solid 2px;
    padding:40px;
    background-color: #112E2D;
    color:#E1D3CF;
    font-family: Source Sans Pro, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;  
    }

.footerFlex {
    display:flex;
    align-items:flex-start;
    justify-content:space-around;
    flex-flow:row wrap;
    gap:50px;
}

li {
    list-style: none;
    padding: 20px;
    margin-left: 25px;    
}

button {
    background-color: #112E2D;
    vertical-align: bottom;
    width:auto;
    margin:0;
    padding:0;    
}

button img{
    vertical-align: middle;
    margin:0;
    padding:0;
}

.bouquetLink {
    text-decoration: none;
    color:#E1D3CF;    
}

.footerIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.footerFlower img {
    width:94px;
    height:94px;
    transform:rotate(20.796deg);
    flex-shrink: 0;
}