.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.form-container {
  position: relative;
  overflow: hidden;
  padding: 25px;
  width: 330px;
  height: 400px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pink-circle {
  position: absolute;
  top: -50px;
  left: -50px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(#fff, #d9afd9);
}

.blue-circle {
  position: absolute;
  top: -50px;
  left: 100px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: linear-gradient(#fff, #86e1eb);
}

.green-circle {
  position: absolute;
  top: -70px;
  right: -50px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(#fff, #80d0c7);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

h2 {
  color: #817d7d;
}

.input {
  width: 270px;
  margin-bottom: 14px;
  border: hidden;
  border-bottom: 2px solid #d4d1d1;
  font-size: 16px;
  color: #b8b6b6;
  cursor: pointer;
}

.input:focus {
  outline: none;
}

.login-button {
  width: 150px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 12px;
  margin-top: 85px;
  border: none;
  border-radius: 25px;
  color: #fff;
  background-color: #83c3ca;
  cursor: pointer;
}

.login-button:hover {
  background-color: #93d9e0;
}

.signup-container {
  display: flex;
  justify-content: center;
  width: 300px;
  padding: 5px;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 8px;
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #fff;
}

@media (min-width: 400px) {
  .signup-container {
    width: 370px;
  }
}
