.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.form-container {
  position: relative;
  width: 270px;
  height: 350px;
  padding: 25px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pink-circle {
  position: absolute;
  width: 150px;
  height: 150px;
  top: -40px;
  left: -40px;
  border-radius: 50%;
  background: linear-gradient(#fff, #d9afd9);
}

.blue-circle {
  position: absolute;
  width: 110px;
  height: 110px;
  top: -50px;
  left: 80px;
  border-radius: 50%;
  background: linear-gradient(#fff, #86e1eb);
}

.green-circle {
  position: absolute;
  width: 150px;
  height: 150px;
  top: -70px;
  right: -50px;
  border-radius: 50%;
  background: linear-gradient(#fff, #80d0c7);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

h2 {
  font-size: 18px;
  margin-bottom: 26px;
}

.input {
  width: 250px;
  margin-bottom: 14px;
  font-size: 14px;
  border: hidden;
  border-bottom: 2px solid #d4d1d1;
}

.input:focus {
  outline: none;
}

.signup-button {
  width: 120px;
  margin-top: 25px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  font-size: 14px;
  color: #fff;
  background: linear-gradient(#a2e0e7, #83c3ca);
  cursor: pointer;
}

.signup-button:hover {
  background: linear-gradient(#b2dfe4, #a0d8dd);
}

.member-container {
  display: flex;
  justify-content: center;
  width: 310px;
  margin-top: 40px;
  padding: 5px;
  border-radius: 8px;
  font-size: 12px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

a:link {
  color: #fff;
  text-decoration: none;
}

a:visited {
  color: #fff;
}

a:hover {
  color: #fff;
}
