@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;500&display=swap");

/* ------------ OVERALL ------------ */
:root {
    /* General settings */
    font-family: var(--font);
    background: var(--background);
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

/* ------------ OVERALL LAYOUT ------------ */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 100vh;
}

  /* ------------ OVERALL TYPOGRAPHY ------------ */
  p {
    font-size: 18px;
  }
  
  h1 {
    font-size:  22px;
    font-weight: 500;
  }
  
  h2 {
    font-size: 20px;
    font-weight: 400;
  }
  
  p.thin {
    font-weight: 300;
  }

/* ------------ OVERALL ELEMENTS ------------ */
button {
    padding: 13px 40px;
}

button, input {
    width: 250px;
    border-radius: var(--border-radius);
    font-size: 18px;
    outline: none;
    cursor: pointer;
    border: none;
}

input {
    padding: 17px 20px;
}

input::placeholder {
    margin-left: 0;
}

/* ------------ MEDIA QUERIES ------------ */
/* ------------ Tablet ------------ */
/*@media (max-width: 1279px) and (min-width: 744px) {


}*/

/* ------------ Desktop ------------ *//*
@media (min-width: 1280px) {


}*/