.navBar{
    position: absolute;
    top: 70px;
    left: 500px;
    color: grey;
    padding: 10px;
    width: 100px;
    border: none;
    background-color: rgb(197, 233, 229);
    font-size: 1.2em;
}

.firstPage{
    background-color:  rgb(197, 233, 229);
    display: flex;
    flex-direction: column;
   
    height: 500px;
    width: 600px;
    align-items: center;
}

.header{
    margin-top: 100px; 
    color: grey;   
}

.btn-Container-firtsPage{
width: 600px;
height: 100px;
display: flex;
flex-direction: column;

margin-top: 50px;
justify-content: center;
align-items: center;

}

.btn-firstPage{
padding: 10px;
width: 264px;
justify-content: center;

color: grey; 
font-size: 1.2em;
border: none;
margin-top: 20px;
}


.backgroundContainer{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mainContainer{
    background-color: rgb(197, 233, 229);
    display: flex;
    flex-direction: column;
    color: grey;
    height: 500px;
    width: 600px;
    justify-content: center;
    align-items: center;
}

p{
    
}

.text{
    font-size: 1.5em;
    margin-left: 10px;
    margin-right: 10px;
}

.formField{
    border: none;
    width: 250px;
    padding: 8px;
    margin-bottom: 15px;
}

.btn-Container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    
}

.btn{
    width: 264px;
    height: 36px;
    border: none;
    color: grey;
}

.sign-in-container{
    display: flex;
    width: 264px;
    justify-content: flex-end;
}

.sign-in-container p{
    margin: 5px;
}



a{
    text-decoration: none;
    color: grey;
   }