* {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: rgb(252, 156, 210);
  background: linear-gradient(
    157deg,
    rgba(252, 156, 210, 1) 16%,
    rgba(254, 195, 228, 1) 49%,
    rgba(241, 209, 227, 1) 78%
  );
  font-family: "Encode Sans Expanded", sans-serif;
}

button {
  font-family: "Encode Sans Expanded", sans-serif;
}

.user-message {
  font-family: "Gamja Flower", sans-serif;
  color: white;
  font-size: 36px;
  text-align: center;
}

.lottie {
  width: 280px;
}

.user-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/*Common styling for back-links*/
.back-link {
  color: #d56e90;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.back-link:hover {
  text-decoration: underline;
}
