.navigation {
  height: 10vh;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
}

#crypTech {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  font-family: "overpass"
}

#logo {
  width: 40px;
}

p{
  color: red;
}

.buttonstyle {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}
