@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
:root {
  font-family: 'Source Sans 3', sans-serif;
  --logo-font-famliy:'Hachi Maru Pop', cursive;
  line-height: 1.5;
  font-weight: 400;

  --main-color:#424D2D;
  --font-color:#000000;
  --button-color:#DBB391;
  background-color: #F9EFE3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*, *::before,*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}


body{
  background-color: var(--background-color);
  font-family: var(--font-family);
  color: var(--main-color);
}

