body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f4f4;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.login-signup, .secret-message {
  color: #f5f4f4;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: #008080;
  padding: 30px;
  margin: 20px;
  border-radius: 60px; 
}
input {
  font-size: 17px;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 60px;
  margin-bottom: 20px;
  border: none;
}
.buttons {
  display: flex;
  flex-direction: column;
}
button {
  border-radius: 60px;
  padding: 10px 15px;
  max-width: 150px;
  margin-top: 10px;
  box-shadow: 6px 6px 15px -4px #000000;
  background: linear-gradient(to bottom, #FAFFD1, #A1FFCE);
  border: none;
}
