body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(232, 207, 255);


}

h1 {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  border: none;
  background-color: blueviolet;
  color: white;
  border-radius: 50px;
  padding: 1em;
  font-size: large;
  margin-top: 2rem;
}

input {
  padding: 1rem;
}

label {
font-family: menlo;
color:rgb(96, 1, 159);
margin-top: 1rem;
}

img {
  max-width: 100%;
}

.wrapper {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
  gap: 0.5em;
}

@media screen and (min-width: 1024px){
 
 .wrapper {
  width: 800px;
  margin: auto; 
}
button {
  width: 200px;
}

}