.header-content{
    width: 100%;
    background: rgb(238, 221, 87);
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 0;
    top: 0;
}

.header-text{
    color: rgb(33, 134, 222);
    text-shadow: -1px 0 rgb(241, 235, 235), 0 1px rgb(245, 243, 243), 1px 0 rgb(250, 247, 247), 0 -1px black;
    margin: 10px;
    text-align: center;
} 

.header-back{
    position: absolute;
    right: 5%;
    text-decoration: none;
    color: white;
}

.active{
    color: brown;
}