.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-form {
    background: #F2FFE9;
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
    margin-bottom: 20px; /* Adjust the margin-bottom as needed */
  }

.register-button {
    border-radius: 8px;
    border: none;
    background-color: #557C55;
    color: #F2FFE9;
}

h1 {
    color: #557C55;
}

.input {
    border-radius: 8px;
    border: none;
}